* {
  margin: 0;
  padding: 0;
  transition: all 0.4s;
  box-sizing: border-box;
}

$yellow: #ffc107;
$dark: #333;
$white: #fff;
$light: #ddd;
$border-radius: 0.5rem;

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none !important;
}

.remove {
  color: $yellow;
  cursor: pointer;
}

.todo-search {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 2rem;
  button {
    position: absolute;
    width: calc(60px - 6px);
    height: calc(60px - 6px);
    font-size: 1.25rem;
    right: 3px;
    top: 3px;
    z-index: 2;
    background-color: $yellow;
    color: $dark;
    border: none;
    border-top-right-radius: calc($border-radius - 0.2rem);
    border-bottom-right-radius: calc($border-radius - 0.2rem);
    &:disabled {
      opacity: 0.7;
    }
  }
  input {
    border: 3px solid black;
    min-height: 60px;
    &::placeholder {
      color: $dark;
    }
    &:hover,
    &:focus {
      outline: none;
      border: 3px solid black !important;
      box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25) !important;
    }
  }
}

.card {
  border: 2px dotted black !important;
  input {
    width: 100%;
    height: 46px !important;
    &::placeholder {
      color: $light;
    }
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid $light;
    }
  }
  .list-group {
    .list-group-item {
      border-radius: 0;
      border-bottom: 1px solid $light !important;
    }
  }
}

.svg {
  display: flex;
  justify-content: center;
}
